In [1]:
import os, sys
import pandas as pd
import datetime
import numpy as np
import matplotlib.pylab as pl
import matplotlib.pyplot as plt
import locale # para fechas y nombres de fechas en espa√±ol
from scipy.stats import norm

In [2]:
import seaborn as sns
sns.set_style("whitegrid")

In [35]:
df_original = pd.read_csv(
        PATH_TO_READ, 
        sep = ";",           # <--- Punto y coma
        decimal = ",",       # <--- Coma decimal
        encoding = 'utf-8',  # <--- Usar UTF-8 para anular el locale
        engine = 'python'    # <--- Motor Python
    )

In [36]:
df.head()

            fabricacion    est    mg    ph  cloruros  coliformes
fecha
2020-01-11            1  46.68  24.0  4.85      1.50        80.0
2020-01-12            1  48.09  25.0  4.67      1.61         0.0
2020-01-13            1  45.97  24.0  4.71      1.48      9200.0
2020-01-14            1  46.24  23.5  4.78      1.69        20.0
2020-01-15            1  45.81  23.0  4.77      1.56       150.0